<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/general.css" type="text/css" />
</head>
<body>
    <h1>Welcome to this strawpoll!</h1>
    <p>You can add your vote to / remove it from several options below.<br />
        If you want to add an entirely new option to the poll, feel free to do so below.<br />
        The results are located <a href="results/">here</a>.</p>
    <form action="vote/" method="get">
        <h2>Vote</h2>
        <table>
            <tr>
                <td><label for="name">Name:</label></td>
                <td><input type="text" name="name" id="name" placeholder="Your name"
                           required="required" /></td>
            </tr>
            <tr>
                <td>Operation:</td>
                <td>
                    <select name="op">
                    <option value="vote">Vote</option>
                    <option value="unvote">Un-vote</option>
                    </select>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Choose one or more options:</th>
            </tr>
            <tr th:each="option : ${options}">
                <td>
                    <input type="checkbox" th:name="${option.id}" />
                    <label th:text="${option.name}">Could not render name!</label>
                </td>
            </tr>
        </table>
        <input type="submit" value="Submit" />
    </form>
    <form action="add/" method="get">
        <h2>Add an option</h2>
        <table>
            <tr>
                <td><label for="optionName">Name:</label></td>
                <td><input type="text" name="name" id="optionName"
                           placeholder="Name of the new option" required="required" /></td>
            </tr>
        </table>
        <input type="submit" value="Submit" />
    </form>
    <div class="footer">
        <hr />
        <footer>Version 1.2-SNAPSHOT</footer>
    </div>
</body>
</html>
